body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}
.divpad{
  padding:0 10px 0 10px;
}
.backgrounddiv
{
 background-color:rgba(243, 239, 233, 0.87)
}
.fontgrounddiv
{
 background-color:rgb(255, 255, 255)
}
.shadow
{
 background-color:rgb(255, 255, 255)
 -webkit-box-shadow:0 0 10px #0CC;  
 -moz-box-shadow:0 0 10px #0CC;  
 box-shadow:0 0 10px #0CC; 
}
.leftfloat{
 position:relative;left:0%;top:0%;right:0%;float: left;
}
.rightfloat{
position:relative;left:0%;top:0%;float: right;
}
.maxwidth{
 width:100%;
 height:auto;
}
.width70{
  width:82%;
}
.width30{
  width:18%;
  height: 240px;
}
.width75{
 width:78%;
}
.width25{
 width:22%;
}
.width96{
padding-left:32px;
padding-right:-25px;
position: relative;
z-index: 1;
}
.width4{
width:25px;
z-index: 2;
}
.bluelink{
 text-decoration: none;color: #022b6d
}
.blacklink{
 text-decoration: none;color: #000000
}
.bluelink:hover{
text-decoration: none;color: #527bbd;
border-bottom: 1px gray dotted;
}
.bb{
  border-bottom: 1px gray dotted;
  /* background-color: rgba(0, 255, 0, 0.3); */
  background-color: hsl(120, 25%, 86%);
  border-radius: 5px;
  padding-right:2px;
  padding-left:2px;
};
.fontverybig{
 font-size: 2em;
}
.fontbig{
 font-size: 1.5em;
}
.fontlarge{
 font-size: 1.15em;
}
.fontnorm{
 font-size: 1.05em;
}
.fontsmall{
 font-size: 0.95em;
}
.fontverysmall{
  font-size: 0.9em;
 }
 .award{
  color:#3d3d09;
  background-color: rgba(162, 228, 39, 0.7);
  border-radius: 5px;
  padding-right:2px;
  padding-left:2px;
}
#icon{
   background:none;
}
#icon:hover{
  -webkit-filter: contrast(200%); /* Chrome, Safari, Opera */
  filter: contrast(200%);
}
.linebigheight{
line-height: 1.4;
}
.bibtexdiv{
font-size:14px;color:black; background-color: #EAEAE8; border: 1 solid #1892B5; padding: 1;
padding:2px 5px 5px 5px; text-align:justify;text-justify:inter-ideograph;word-break:normal
}
.pub {
  font-size: 14px;
  border-left: 4px solid #aaa;
  padding: 2px 0px 2px 10px;
  margin-bottom: 10px;
}
.pub-venue {
  display: inline;
  color: #090;
}
.pub-authors {
  color: #900;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  width: 64px;
  height: 64px;
  background-image: url("pic/top1.ico");
  /* background-color: white; */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  -webkit-filter: contrast(200%); /* Chrome, Safari, Opera */
  filter: contrast(200%);
  /* background-color: white; */
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 90%;
	margin-bottom: 1em;
}

table.noborders {
	border: none;
}

table.noborders td {
	border: none;
}

.vtable {
	float: right;
	clear: both;
}

table.tags td {
	vertical-align: top;
}

td {
	background-color: white;
}

th {
	background-color: #ddf;
}

th a {
	text-decoration: none;
}

tr:hover {
	background-color: #ddf;
}

td {
	border: 1px solid black;
	padding: 0.2em;
	padding-left: 0.3em;
	padding-right: 0.2em;
}

/* a:hover {
  border-bottom: 1px gray dotted;
  }
   */
  /* #layout-menu a.current:link, #layout-menu a.current:visited {
  color: #022b6d;
  border-bottom: 1px gray solid;
  }
  #layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #527bbd;
  text-decoration: none;
  }
  #layout-menu a:hover {
  text-decoration: none;
  } */

  table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
  }
  
  body {
  background: white;
  font-family:  Georgia;
  padding-bottom: 8px;
  margin: 0;
  /* letter-spacing:0.1px */
  }
  
  /* #layout-menu {
  background: #f6f6f6;
  border: 1px solid #dddddd;
  padding-top: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.0em;
  width: auto;
  white-space: nowrap;
    text-align: left;
    vertical-align: top;
  } */
  
  #layout-menu td {
  background: #f4f4f4;
    vertical-align: top;
  }
  
  /* #layout-content {
  padding-top: 0.0em;
  padding-left: 1.0em;
  padding-right: 1.0em;
    border: none;
    background: white;
    text-align: left;
    vertical-align: top;
  } */
  
  /* #layout-menu a {
  line-height: 1.5em;
  margin-left: 0.5em;
  } */
  
  tt {
    background: #ffffdd;
  }
  
  pre, tt {
  font-size: 90%;
  font-family: monaco, monospace;
  }
  
  a, a > tt {
  color: #224b8d;
  text-decoration: none;
  }
  
  
  #layout-menu a.current:link, #layout-menu a.current:visited {
  color: #022b6d;
  border-bottom: 1px gray solid;
  }
  #layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #527bbd;
  text-decoration: none;
  }
  #layout-menu a:hover {
  text-decoration: none;
  }
  
  /* div.menu-category {
  border-bottom: 1px solid gray;
  margin-top: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  font-weight: bold;
  } */
  
  /* div.menu-item {
  padding-left: 16px;
  text-indent: -16px;
  }
  
  div#toptitle {
  padding-bottom: 0.2em;
  margin-bottom: 1.5em;
  border-bottom: 3px double gray;
  } */
  
  /* Reduce space if we begin the page with a title. */
  /* div#toptitle + h2, div#toptitle + h3 {
  margin-top: -0.7em;
  } */
  
  /* div#subtitle {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  padding-top: 0em;
  padding-bottom: 0.1em;
  } */
  
  /* em {
  font-style: italic;
  }
  
  strong {
  font-weight: bold;
  } */
  
  
  /* h1, h2, h3 {
  color: #527bbd;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  padding-bottom: 0.2em;
  line-height: 1.0;
  padding-top: 0.5em;
  border-bottom: 1px solid #aaaaaa;
  }
  
  h1 {
  font-size: 165%;
  }
  
  h2 {
  padding-top: 0.8em;
  font-size: 125%;
  }
  
  h2 + h3 {
    padding-top: 0.2em;
  }
  
  h3 {
  font-size: 110%;
  border-bottom: none;
  } */
  
  p {
  margin-top: 0.0em;
  margin-bottom: 0.8em;
  padding: 0;
  line-height: 1.3;
  }
  
  pre {
  padding: 0;
  margin: 0;
  }
  
  div#footer {
  font-size: small;
  border-top: 1px solid #c0c0c0;
  padding-top: 0.1em;
  margin-top: 4.0em;
  color: #c0c0c0;
  }
  
  /* div#footer a {
  color: #80a0b0;
  } */
  
  div#footer-text {
  float: left;
  padding-bottom: 8px;
  }
  
  /* ul, ol, dl {
  margin-top: 0.2em;
  padding-top: 0;
  margin-bottom: 0.8em;
  } */
  
  dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  }
  
  /* dl {
  margin-left: 20px;
  }
   */
  dd {
  color: #222222;
  }
  
  dd > *:first-child {
  margin-top: 0;
  }
  
  ul {
  list-style-position: outside;
  list-style-type: square;
  }
  
  p + ul, p + ol {
  margin-top: -0.5em;
  }
  
  li ul, li ol {
  margin-top: -0.3em;
  }
  
  ol {
  list-style-position: outside;
  list-style-type: decimal;
  }
  
  li p, dd p {
  margin-bottom: 0.3em;
  }
  
  
  ol ol {
  list-style-type: lower-alpha;
  }
  
  ol ol ol {
  list-style-type: lower-roman;
  }
  
  p + div.codeblock {
  margin-top: -0.6em;
  }
  
  div.codeblock, div.infoblock {
  margin-right: 0%;
  margin-top: 1.2em;
  margin-bottom: 1.3em;
  }
  
  div.blocktitle {
  font-weight: bold;
  color: #cd7b62;
  margin-top: 1.2em;
  margin-bottom: 0.1em;
  }
  
  div.blockcontent {
  border: 1px solid silver;
  padding: 0.3em 0.5em;
  }
  
  div.infoblock > div.blockcontent {
  background: #ffffee;
  }
  
  div.blockcontent p + ul, div.blockcontent p + ol {
  margin-top: 0.4em;
  }
  
  div.infoblock p {
  margin-bottom: 0em;
  }
  
  div.infoblock li p, div.infoblock dd p {
  margin-bottom: 0.5em;
  }
  
  div.infoblock p + p {
  margin-top: 0.8em;
  }
  
  div.codeblock > div.blockcontent {
  background: #f6f6f6;
  }
  
  span.pycommand {
  color: #000070;
  }
  
  span.statement {
  color: #008800;
  }
  span.builtin {
  color: #000088;
  }
  span.special {
  color: #990000;
  }
  span.operator {
  color: #880000;
  }
  span.error {
  color: #aa0000;
  }
  span.comment, span.comment > *, span.string, span.string > * {
  color: #606060;
  }
  
  @media print {
  #layout-menu { display: none; }
  }
  
  #fwtitle {
  margin: 2px;
  }
  
  #fwtitle #toptitle {
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  }
  
  #layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
  margin-top: -0.7em;
  }
  
  div#toptitle h1, #layout-content div#toptitle h1 {
  margin-bottom: 0.0em;
  padding-bottom: 0.1em;
  padding-top: 0;
  margin-top: 0.5em;
  border-bottom: none;
  }
  
